.parent{
  display: flex;
  flex-wrap:wrap;
}

.index-thumbnail-parent{
  width: 480px;
  height: 270px;
  margin: 50px;
  overflow: hidden;
  position: relative;
}

.index-thumbnail-child{
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateY(2px);
}
